.footer {
  grid-area: 4 / 1 / 5 / 2;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer__button__activity {
  border: 3px solid black;
  text-align: center;
  margin: 20px;
  height: 40px;
  width: 120px;
  border: 2px black solid;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: $button_background;
  font-size: 18px;
  font-weight: bolder;
  outline: none;
  &:active {
    background-color: $primary-color;
  }
}

.footer__button__hours {
  border: 3px solid black;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  margin: 20px;
  height: 40px;
  width: 90px;
  border: 2px black solid;
  border-radius: 20px;
  background-color: $button_background;
  font-size: 18px;
  font-weight: bolder;
  outline: none;
  &:active {
    background-color: $primary-color;
  }
}

.footer__button__plus {
  border: 3px solid black;
  // text-align: center;
  // padding: 5px;
  margin: 15px;
  width: 50px;
  background-color: $list_color_a;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  outline: none;

  &:active {
    border: 3px solid black;
    // text-align: center;
    // padding: 5px;
    margin: 15px;
    width: 50px;
    background-color: $list_color_b;
    border-radius: 50%;
    outline: none;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .footer__button__plus__icon {
    &:active {
      fill: red;
    }
  }
}
