*::before,
*::after {
  box-sizing: border-box;
}

.gridbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 30px 80px;
  grid-column-gap: 0px;
  grid-row-gap: 2px;
  height: 100vh;
  width: 100vw;
  background-color: $primary-color;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
