.main {
  grid-area: 2 / 1 / 3 / 2;
  background-color: $background-color;
}

.main__result {
  grid-area: 3 / 1 / 4 / 2;
  background-color: $primary-color;
  display: flex;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-between;

  // margin: 0 10px;
}

.main__result__left {
  padding: 7px;
}

.main__result__right {
  padding: 7px;
}

.main__list {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}

.main__list__item_a {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 30px;
  // width: auto;
  background-color: $list_color_a;
  // border: 2px solid black;
  padding: 10px;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
}
.main__list__item_b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  // width: auto;
  background-color: $list_color_b;
  // border: 2px solid black;
  padding: 10px;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
}
